@media(min-width: 450px){

    .container-1 div{
        flex-direction: column;
        font-size: 20px;
        border: 0px black;
        padding: 10px;
        background-color: lightseagreen;
        align-content: center;
        text-align: center;
    }
    .main{
        text-align: left;
        display: inline-block;
        font-size: initial;
        color:black;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: 10px;
        border-right: none;
        padding: 5px 15px;
    }
    .container{
        display: flex;
        justify-content: center;
        background-color: teal;
        margin:center;
        box-sizing: border-box;
    }
    .button{
        font-size: 20px;
        background-color: darkorchid;
        display: inline-block ;
        margin:15px;
        border-radius: 15%;
    }
    .body{
        background-color: deeppink;
    }
}